<form action="/Students/create" method="post">

    <label for="Name"> Student Name</label>
    <input type="text" name="Name">

    <label for="Batch"> Batch </label>
    <input type="number" name="Batch">

    <label for="College">College</label>
    <input type="text" name="College">

    <label for="Status">Status</label>
    <input type="text" name="Status">
    
    <label for="DSA_Final_Score">DSA_Final_Score</label>
    <input type="Number" name="DSA_Final_Score">
    
    <label for="WebD_Final_Score">WebD_Final_Score</label>
    <input type="Number" name="WebD_Final_Score">
    

    <label for="React_Final_Score">React_Final_Score</label>
    <input type="Number" name="React_Final_Score">
  
    <button type="submit" value="/Students/create" >
        Add New Student
    </button>

</form>



