<head>
    <%- include('_bootstrap_meta')%>
    <title>Sign Up</title>
</head>
<body style="background-color: #e6e9e9">
<ul>
    <% for(let student of students){ %>
        
        <li>
            
           <a href="/Students/<%= student.id %>" >
            <%= student.Name %>

           </a> 
           

        </li>
    <% } %> 
   
</ul>

<a href="/Students/SsignUp"> Add Student </a>
<br>
<br>

<h3> Click below to register a new Employee </h3>
<a href = "signUp.ejs"> Employee Sign-Up</a>
</body>

