<h1>Sign Up  Employees </h1>
<head>
  <%- include('_bootstrap_meta')%>
  <title>Sign Up</title>
</head>
<body style="background-color: #e6e9e9">
  <form action="/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit" value="create"> Submit</button>
</form>
</body>


