<h1> Employee Sign In Page </h1>
<head>
    <%- include('_bootstrap_meta')%>
    <title>Sign In</title>
  </head>
  <body style="background-color: #e6e9e9">
    <form action = "/create-session" method="post">
        <label for = "email"> email </label>
        <input type="email" name="email" required>
        <label for="password"> password</label>
        <input type="password" name="password" required>
        <button type="submit" value="createsession"> Submit</button>
        
    </form>
</body>
